/* ヘッダー上に黒帯とロゴを出す */
.custom-header {
  background: black;
  text-align: center;
  padding: 10px 0;
}
.custom-header img {
  max-height: 80px;
  background: none !important;
  border: none !important;
  padding: 0 !important;
}

/* Slateのデフォルトの黒帯ヘッダーを消す */
header {
  display: none !important;
}

/* 画像全般の余計な枠や影を消す（必要なら） */
img {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.container {
  display: flex;
}

.content {
  flex: 4; /* メイン幅 */
  padding: 20px;
  margin-top: 1em;
}

.sidebar {
  flex: 1; /* サイドバー幅 */
  background: #f9f9f9;
  padding: 0px;
  margin: 0px
  border-left: 2px solid #ddd;
}
.sidebar h2 {
  font-size: 1.2em;
  margin-top: 1em;
  padding-bottom: 0.5em;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  margin: 0.5em 0;
}
