.container {
  display: flex;
}

.content {
  flex: 3;
  padding: 20px;
  background-color: #fff;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  border-left: 2px solid #ccc;
  position: sticky;
  top: 0;
  height: 100vh;
}
