<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen"
      href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    {% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="container outer">
      <section id="main_content" class="content inner">
        {{ content }}
      </section>
    </div>
    
    <!-- FOOTER -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">

        <!-- リンク集 -->
        <div style="background: black; padding: 10px;">
          <span style="color:white;">
          <nav class="footer-links" style="margin-bottom: 1.5em;">
            <ul style="list-style: none; display: flex; flex-wrap: wrap; gap: 1em; padding: 0; margin: 0; justify-content: center;">
              <li><a href="{{ site.baseurl }}/pages/tutorials/">ウディタ講座</a></li>
              <li><a href="{{ site.baseurl }}/pages/dot-assets/">ドット絵素材</a></li>
              <li><a href="{{ site.baseurl }}/pages/games/">フリーゲーム</a></li>
              <li><a href="https://ofuse.me/onedeshiza">○ 御支援願います ●</a></li>
            </ul>
          </nav>
            <ul justify-content: center;">
              Copyright © 2025 わんでし座
            </ul>
          </span>
        </div>
      </footer>
    </div>
  </body>
</html>
